<p style="color: green"><%= notice %></p>

<h1>Tweets</h1>
<%= render 'user_details' %>

<h2>Tweets</h2>

<% @user.tweets.each do |tweet| %>
  <p><%= tweet.content %></p>
<% end %>

<p>
  <%= link_to "Back to all users", web_tweets_path %>
</p>